.w-4 {
    width: 1rem;
}
.h-4 {
    height: 1rem;
}

.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #f8f9fa;
    color: #343a40;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column (for mobile) */
    gap: 10px;
}

@media (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
